# Auto detect text files and perform LF normalization
* text=auto

# Exclude libraries and such from language stats
include/* linguist-vendored
engine-from-scratch/src/glad.c linguist-vendored
engine-from-scratch/*.txt linguist-vendored
